@import url('./fonts.css');
:root

    --primary-color: #ff8b38;
}
*{
    margin:0;
    fonts-weight:400;
}
body {
    color:#86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
h2 {
    margin-bottom: 24px;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}
h2:after{
    content:'';
    display:block;
    width:64px;
    height:2px;
    backgraund-color:#ff8b38;
    margin:22px auto 0;
}
h3 {
    font-family: 20px;
    font-width: ;
}
h2._left{
    text-align:left;
}

h2.left:after{
    text-align: left;
}

h2._white:after{
    margin:0;
}

.container{
    max-width: 1100px;
    margin:0 auto;
    padding:110px 0;
}
.row{
    display
}
.benefit{
    text-align: center ;
}
.benefit i{
    color: var(--primary-color);
}